body {
    overflow: hidden;
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: bolder;
}



.avatar {
    display: block;
    margin: 0 auto;
    width: 150px;
    border: 3px solid #faae7b;
    border-radius: 50%;
}

.avatar:hover {
    transform: scale(1.2);
    transition: 6s;
}

.card {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    display: block;
    justify-content: space-around;
    text-align: center;
    background: linear-gradient(#432371, #faae7b);
    color: #183182;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #8d99ae;
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    animation: diff 2s infinite ease-in;
    transition: 6s;
    cursor: pointer;
    
}

@keyframes diff {
    0% {
        background: linear-gradient(#e9b7ce, #d3f3f1);
    }
    10% {
        background: linear-gradient(#1dbde6, #f1515e)
    }
    15% {
        background: linear-gradient(#b190ba, #e8b595);
    }
    20% {
        background: linear-gradient(#c9def4, #f5ccd4, #b8a4c9);
    }
    25% {
        background: linear-gradient(#b597f6, #96c6ea);
    }
    30% {
        background: linear-gradient(#caefd7, #f5bfd7, #abc9e9);
    }
}



.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

